body {
  background-color: #282c34;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

textarea {
  height: 40px;
  width: 50%;
  margin: 0px 8px;
}

/* .Container{
  background-color: #6b7790;
} */

.Task {
  margin-top: 10px;
  animation: fade 1s ease forwards;
}

.Task input, .fa {
  vertical-align: super;
  cursor: pointer;
}

.Task input[type=checkbox]
{
  /* Enlarge the Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.2);
  padding: 10px;
}

header.Options {
  text-align: center;
} 

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
