body {
  background-color: #282c34;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Row{
  /* background-color: #6b7790;
  padding: 40px;
  width: 300px;
  display: block;
  margin: auto; */
}

.Todo {
  animation: fade 1s ease forwards;
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
