body {
  background-color: #282c34;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Todo {
  animation: fade 1s ease forwards;
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
